powermenu {
  border-radius: 15px;
  background-color: rgb(30, 30, 30);
  border: 4px solid rgb(190, 230, 230);
}


.reboot-description,
.logout-description,
.suspend-description,
.power-description {
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

.reboot-button,
.logout-button,
.suspend-button,
.power-button {
  font-size: 40px;
  padding-left: 10px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

