
* {
  al:      #000000;
  bg:      #1c1f24;
  se:      #ffd5cd;
  fg:      #eeeeee;
  ac:      #da8848;
  red:     #ff6c6b;
  green:   #98be65;
  yellow:  #ecbe7b;
  blue:    #42A5F5;
  purple:  #a9a1e1;
  cyan:    #46d9ff;
}
