window {
  background-color: #171717;
  color: #d0ddf2;
  font-family: 'Ubuntu Nerd Font';
}

button {
  all: unset;
  background-color: rgb(30, 30, 30);
}

.powermenu {
  border-radius: 15px;
  background-color: rgb(30, 30, 30);
  border: 4px solid rgb(190, 230, 230);
}


.reboot-description,
.logout-description,
.suspend-description,
.power-description {
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

.reboot-button,
.logout-button,
.suspend-button,
.power-button {
  font-size: 40px;
  padding-left: 10px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.number_day {
  padding-top: 10px;
  font-size: 35px;
  color: #D35D6E;
}

.month {
  font-weight: bold;
}

.sysbtn button {
  font-size: 30px;
}

.calendar_title {
  margin-top: 10px;
  font-size: 16px;
}

.calendar_full {
  border-radius: 15px;
  font-family: "Ubuntu Nerd Font";
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.calendar_full:first-child {
  border: 4px solid rgb(190, 230, 230);
}

.calendar {
  font-size: 14px;
  margin-top: 10px;
}

calendar:dir(ltr) {
  all: unset;
  padding: 2px;
}

calendar:selected {
  color: rgb(100, 230, 120);
  background-color: rgba(100, 230, 120, 0.1);
  border-radius: 8px;
}

calendar:indeterminate {
  color: rgba(200, 200, 200, 0.6);
}

calendar.highlight {
  color: #e8e4a2;
}

.hover-power-btn:hover {
  button {
    color: rgb(100, 180, 240);
  }

}

.weather-icon {
  margin: 30px -20px 0px 60px;
}

.weather {
  border: 4px solid rgb(190, 230, 230);
  border-radius: 15px;
}

.weather-desc {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Ubuntu Nerd Font';
  margin: 0px 65px 0px 0px;
}

.temperature {
  font-size: 35px;
  font-weight: 900;
}


.weather-prec-1,
.weather-prec-2,
.weather-prec-3,
.weather-prec-4,
.weather-prec-5 {
  font-size: 15px;
  color: rgb(80, 80, 230);
  font-weight: bold;
}

.weather-temp-1,
.weather-temp-2,
.weather-temp-3,
.weather-temp-4,
.weather-temp-5 {
  font-size: 16px;
  padding: 10px;
}

.weather-icon-1,
.weather-icon-2,
.weather-icon-3,
.weather-icon-4,
.weather-icon-5 {
  font-size: 35px;
  padding: 5px;
  margin-left: 10px;
}

.weather-week-1,
.weather-week-2,
.weather-week-3,
.weather-week-4,
.weather-week-5 {
  font-size: 13px;
  font-weight: bold;
  padding: 5px;
  margin: 0px 25px;
}


.weather-desc-1,
.weather-desc-2,
.weather-desc-3,
.weather-desc-4,
.weather-desc-5 {
  font-size: 14px;
  padding: 10px;
  margin: 0px 10px;
  margin-bottom: 10px;

}

.screenshot-icon {
  color: #ffd5cd;
  font-size: 60px;
  margin-right: 5px;
  font-family: 'Ubuntu Nerd Font';
}

.sidemenu {
  border: 4px solid rgb(190, 230, 230);
  padding: 5px;
  min-width: 430px;

  .buttons-space {
    .button-item {
      margin: 0px 5px;
    }
  }

  .greeter {
    margin-top: 10px;
    padding: 0px 20px;
    font-size: 30px;
  }

  .greeter-user {
    padding: 0px 20px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(190, 230, 230);
    margin-bottom: 10px;
  }

  .quote {
    font-size: 18px;
    font-family: serif;
    font-style: italic;
    color: rgb(190, 230, 230);
    border-bottom: 1px solid rgba(190, 230, 230, 0.6);
    margin: 30px;
    font-weight: 500;
    padding: 0px 0px 40px 0px;
  }

  .profile-label-time {
    color: rgb(190, 230, 230);
    font-size: 45px;
    font-family: "Hack";
    margin-left: 20px;
  }

  .profile-desc {
    color: rgb(190, 230, 230);
    padding: 5px 0px;
    font-size: 25px;
    margin: 0px 15px;
    font-family: "Hack";
  }

  .box-profile {
    font-weight: bold;
    margin: 5px 20px;
  }


  .profile-img {
    border: 5px solid rgb(180, 220, 220);
    border-radius: 50%;
  }


  .power-menu-side {
    font-size: 28px;

    button {
      border: 4px solid rgb(180, 220, 220);
      border-radius: 15px;
      padding: 15px;
      margin: 8px 15px;
    }

    button:hover {
      background-color: rgb(60, 60, 60);
      transition: background .2s ease-in-out;
    }
  }

  border-radius: 15px;

  scale.night-light.disabled {
    opacity: 0;
  }

  scale.night-light {
    margin-left: 3px;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    margin-bottom: 10px;
    margin-top: 5px;

    trough {
      padding: 0px;
      border-radius: 10px;
      background-color: rgb(100, 100, 90);

      slider {
        all: unset;
        background-color: rgb(200, 200, 200);
      }

      highlight {
        all: unset;
        padding: 5px;
        border-radius: 10px;
        background-color: rgb(220, 220, 200);

      }

    }
  }

  .box-label {

    .nightlight-label {
      font-size: 16px;
    }

    .not_disturb-label {
      font-size: 16px;
    }


    .bluetooth-label {
      font-size: 16px;
    }

    .wifi-label {
      font-size: 16px;
    }

  }

  box.box-wifi-buttons {
    color: white;

    .seperator {
      font-size: 2px;
      margin-top: 10px;
    }


    .button-wifi-arrow {
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }

    .button-wifi {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }

    .button-wifi,
    .button-wifi-arrow {
      margin: 15px 0px 5px 0px;
      font-size: 20px;
      padding: 12px 12px;
      background-color: rgb(70, 70, 70);
    }

    .button-wifi.active,
    .button-wifi-arrow.active {
      background-color: rgb(100, 180, 180);
    }
  }


  box.box-bluetooth-buttons {
    color: white;

    .seperator {
      font-size: 2px;
      margin-top: 10px;
    }


    .button-bluetooth-arrow {
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }

    .button-bluetooth {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }

    .button-bluetooth,
    .button-bluetooth-arrow {
      margin: 15px 0px 5px 0px;
      font-size: 20px;
      padding: 12px 12px;
      background-color: rgb(70, 70, 70);
    }

    .button-bluetooth.active,
    .button-bluetooth-arrow.active {
      background-color: rgb(100, 180, 180);
    }
  }


  box.box-not_disturb-buttons {
    color: white;

    .seperator {
      font-size: 2px;
      margin-top: 10px;
    }


    .button-not_disturb-arrow {
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }

    .button-not_disturb {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }

    .button-not_disturb,
    .button-not_disturb-arrow {
      margin: 15px 0px 5px 0px;
      font-size: 20px;
      padding: 12px 12px;
      background-color: rgb(70, 70, 70);
    }

    .button-not_disturb.active,
    .button-not_disturb-arrow.active {
      background-color: rgb(100, 180, 180);
    }
  }

  box.box-nightlight-buttons {
    color: white;

    .seperator {
      font-size: 2px;
      margin-top: 10px;
    }


    .button-nightlight-arrow {
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }

    .button-nightlight {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }

    .button-nightlight,
    .button-nightlight-arrow {
      margin: 15px 0px 5px 0px;
      font-size: 20px;
      padding: 12px 12px;
      background-color: rgb(70, 70, 70);
    }

    .button-nightlight.active,
    .button-nightlight-arrow.active {
      background-color: rgb(100, 180, 180);
    }
  }
}



.notifications-menu-side {
  border-bottom: 1px solid rgba(170, 220, 220, 0.8);
  min-height: 420px;
  margin: 10px;

  .notification-box-content {
    margin: 5px;
  }

  .notification-scroll {
    min-height: 380px;
  }

  .no-notif {
    font-size: 15px;
    margin-top: 20px;
  }

  .notif-line-icon-screen {
    background-color: rgb(35,35,35);
    border-radius:5px;
  }

  .notif-line-icon {
    padding: 20px;
  }

  .notif-screen-button-delete {
    padding: 12px;
    border-radius: 5px;
    background-color: rgb(230, 100, 100);
    margin: 3px 45px;
    color: rgb(250, 250, 220);
    font-weight: bold;
  }

  .notif-screen-button-open {
    padding: 12px;
    margin: 3px 45px;
    border-radius: 5px;
    background-color: rgb(100, 200, 200);
    color: rgb(250, 250, 220);
    font-weight: bold;

  }


  .notif-item-header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;


    background-color: rgba(80, 150, 150, 0.1);
    font-weight: bold;
    color: rgb(250, 250, 220);
    padding: 3px;

    .notif-dismiss-button {
      font-size: 20px;
      background-color: transparent;
      color: rgb(200, 100, 100);
    }

  }


  .notif-item {
    border-radius: 5px;
    margin: 10px 5px;
    background-color: rgb(40, 40, 40, 0.9);
  }

  .notification-item-title {
    font-size: 18px;
    font-weight: bold;
  }



  .notification-message {
    font-size: 14px;
  }

  .icon-notif {
    padding: 0px 20px;
    margin-right: 20px;
  }

  .notifications-menu-header {
    background-color: rgb(60, 60, 60, 0.5);
    padding: 5px 10px;
    margin: 0px 5px;
    border-radius:5px;

    .clear-history-button {
      font-size: 25px;
      color: rgb(200, 200, 200, 0.6);
      background-color: transparent;
    }
  }

  .notification-title {
    color: rgba(190, 230, 230, 0.9);
    font-size: 22px;
    font-weight: bold;
  }

}
