@import "./theme.scss";
window {
  all: unset;
  background-color: $bg;
  color: $fg;
  font-family: 'Ubuntu Nerd Font';
}

button {
  all: unset;
  background-color: $bg_alt;
}

@import "./weather/weather.scss";
@import "./calendar/calendar.scss";
@import "./powermenu/powermenu.scss";
@import "./sidemenu/sidemenu.scss";
@import "./musicplayer/musicplayer.scss";
@import "./notifications/notifications.scss";
@import "./storagemon/storagemon.scss";
@import "./tips/tips.scss";
