
window {
  all: unset;
  background-color: #0a0a1a;
  color: #e0e0ff;
  font-family: 'Ubuntu Nerd Font';
}

button {
  all: unset;
  background-color: #111130;
}

@import "./weather/weather.scss";
@import "./calendar/calendar.scss";
@import "./powermenu/powermenu.scss";
@import "./sidemenu/sidemenu.scss";
@import "./musicplayer/musicplayer.scss";
@import "./notifications/notifications.scss";
@import "./storagemon/storagemon.scss";
@import "./tips/tips.scss";
