/* Hyprland entry point theme: pulls in unified style + config */
configuration {
    modi: "drun,run,window,filebrowser";
    show-icons: true;
    icon-theme: "Oranchelo";
    terminal: "ghostty";
    drun-display-format: "{icon} {name}";
    location: 0;
    matching: "fuzzy";
    sort: true;
    hover-select: true;
    me-select-entry: "MouseSecondary";
    me-accept-entry: "MousePrimary";
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-window: "   Windows ";
    display-filebrowser: " 🗁  Files ";
    sidebar-mode: true;
}

@import "~/.config/rofi/theme.rasi"
