configuration {
    modi:                "drun,run,window,filebrowser";
    show-icons:          true;
    icon-theme:          "Papirus";
    display-drun:        " Apps";
    display-run:         " Run";
    display-window:      " Windows";
    display-filebrowser: " Files";
    drun-display-format: "{name}";
    font:                "JetBrains Mono Nerd Font 11";
    click-to-exit:       true;
}

@theme "cyberpunk"
