.screenshot-icon {
  color: #ffd5cd;
  font-size: 60px;
  margin-right: 5px;
  font-family: 'Ubuntu Nerd Font';
}

.sidemenu {
  border: 4px solid rgb(190, 230, 230);
  padding: 5px;
  min-width: 430px;

  .buttons-space {
    .button-item {
      margin: 0px 5px;
    }
  }

  .greeter {
    margin-top: 10px;
    padding: 0px 20px;
    font-size: 30px;
  }

  .greeter-user {
    padding: 0px 20px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(190, 230, 230);
    margin-bottom: 10px;
  }

  .quote {
    font-size: 18px;
    font-family: serif;
    font-style: italic;
    color: rgb(190, 230, 230);
    border-bottom: 1px solid rgba(190, 230, 230, 0.6);
    margin: 30px;
    font-weight: 500;
    padding: 0px 0px 40px 0px;
  }

  .profile-label-time {
    color: rgb(190, 230, 230);
    font-size: 45px;
    font-family: "Hack";
    margin-left: 20px;
  }

  .profile-desc {
    color: rgb(190, 230, 230);
    padding: 5px 0px;
    font-size: 25px;
    margin: 0px 15px;
    font-family: "Hack";
  }

  .box-profile {
    font-weight: bold;
    margin: 5px 20px;
  }


  .profile-img {
    border: 5px solid rgb(180, 220, 220);
    border-radius: 50%;
  }


  .power-menu-side {
    font-size: 28px;

    button {
      border: 4px solid rgb(180, 220, 220);
      border-radius: 15px;
      padding: 15px;
      margin: 8px 15px;
    }

    button:hover {
      background-color: rgb(60, 60, 60);
      transition: background .2s ease-in-out;
    }
  }

  border-radius: 15px;

  scale.night-light.disabled {
    opacity: 0;
  }

  scale.night-light {
    margin-left: 3px;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    margin-bottom: 10px;
    margin-top: 5px;

    trough {
      padding: 0px;
      border-radius: 10px;
      background-color: rgb(100, 100, 90);

      slider {
        all: unset;
        background-color: rgb(200, 200, 200);
      }

      highlight {
        all: unset;
        padding: 5px;
        border-radius: 10px;
        background-color: rgb(220, 220, 200);

      }

    }
  }

  .box-label {

    font-size: 15px;
    font-weight: bold;

  }

  box.box-wifi-buttons {
    color: white;

    .seperator {
      font-size: 2px;
      margin-top: 10px;
    }


    .button-wifi-arrow {
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }

    .button-wifi {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }

    .button-wifi,
    .button-wifi-arrow {
      margin: 15px 0px 5px 0px;
      font-size: 20px;
      padding: 12px 12px;
      background-color: rgb(70, 70, 70);
    }

    .button-wifi.active,
    .button-wifi-arrow.active {
      background-color: rgb(100, 180, 180);
    }
  }


  box.box-bluetooth-buttons {
    color: white;

    .seperator {
      font-size: 2px;
      margin-top: 10px;
    }


    .button-bluetooth-arrow {
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }

    .button-bluetooth {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }

    .button-bluetooth,
    .button-bluetooth-arrow {
      margin: 15px 0px 5px 0px;
      font-size: 20px;
      padding: 12px 12px;
      background-color: rgb(70, 70, 70);
    }

    .button-bluetooth.active,
    .button-bluetooth-arrow.active {
      background-color: rgb(100, 180, 180);
    }
  }


  box.box-not_disturb-buttons {
    color: white;

    .seperator {
      font-size: 2px;
      margin-top: 10px;
    }


    .button-not_disturb-arrow {
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }

    .button-not_disturb {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }

    .button-not_disturb,
    .button-not_disturb-arrow {
      margin: 15px 0px 5px 0px;
      font-size: 20px;
      padding: 12px 12px;
      background-color: rgb(70, 70, 70);
    }

    .button-not_disturb.active,
    .button-not_disturb-arrow.active {
      background-color: rgb(100, 180, 180);
    }
  }

  box.box-nightlight-buttons {
    color: white;

    .seperator {
      font-size: 2px;
      margin-top: 10px;
    }


    .button-nightlight-arrow {
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }

    .button-nightlight {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }

    .button-nightlight,
    .button-nightlight-arrow {
      margin: 15px 0px 5px 0px;
      font-size: 20px;
      padding: 12px 12px;
      background-color: rgb(70, 70, 70);
    }

    .button-nightlight.active,
    .button-nightlight-arrow.active {
      background-color: rgb(100, 180, 180);
    }
  }
}



.notifications-menu-side {
  border-bottom: 1px solid rgba(170, 220, 220, 0.8);
  min-height: 420px;
  margin: 10px;

  .notification-box-content {
    margin: 5px;
  }

  .notification-scroll {
    min-height: 380px;
  }

  .no-notif {
    font-size: 15px;
    margin-top: 20px;
  }

  .notif-line-icon-screen {
    border-radius: 5px;

    .icon-notif-screenshot {
      margin: 8px;
      border-radius: 5px;
    }



    .buttons-screenshot {
      padding: 10px;

    }

    .notif-screen-button-delete {
      padding: 12px;
      border-radius: 5px;
      background-color: rgb(230, 100, 100);
      margin: 3px 45px;
      color: rgb(250, 250, 220);
      font-weight: bold;
    }

    .notif-screen-button-open {
      padding: 12px;
      margin: 3px 45px;
      border-radius: 5px;
      background-color: rgb(100, 200, 200);
      color: rgb(250, 250, 220);
      font-weight: bold;

    }


  }

  .notif-line-icon {
    margin: 10px;
  }

  .icon-notif {
    border-radius: 5px;
    border: 5px solid rgb(100, 200, 200, 0.4);
  }

  .box-labels-notif {
    padding: 20px;
  }

  .notif-item-header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;


    background-color: rgba(80, 150, 150, 0.1);
    font-weight: bold;
    color: rgb(250, 250, 220);
    padding: 3px;

    .notif-dismiss-button {
      font-size: 20px;
      background-color: transparent;
      color: rgb(200, 100, 100);
    }

  }


  .notif-item {
    border-radius: 5px;
    margin: 10px 5px;
    background-color: rgb(40, 40, 40, 0.9);
  }

  .notification-item-title {
    font-size: 18px;
    font-weight: bold;
  }



  .notification-message {
    font-size: 14px;
  }


  .notifications-menu-header {
    background-color: rgb(60, 60, 60, 0.5);
    padding: 5px 10px;
    margin: 0px 5px;
    border-radius: 5px;

    .clear-history-button {
      font-size: 25px;
      color: rgb(200, 200, 200, 0.6);
      background-color: transparent;
    }
  }

  .notification-title {
    color: rgba(190, 230, 230, 0.9);
    font-size: 22px;
    font-weight: bold;
  }

}
