* {
  all: unset;
  font-family: Hasklug Nerd Font;
}

.storage-graph {
  margin: 20px;
  background-color: #ccc;
  color: rgb(220, 80, 80);
}

.ram-description-usage,
.ram-description-used,
.ram-description-available {
  margin: 0px 10px;
  font-size: 18px;
}



.header-ram-description {
  font-size: 30px;
  color: #ddd;
  font-weight: bold;
}

.ram-description-used.number {
  color: rgb(170, 170, 230);
}

.ram-description-available.number {
  color: rgb(150, 240, 150);
}

.ram-description-usage.number {
  color: rgb(220, 130, 130);
}
