.number_day {
  padding-top: 10px;
  font-size: 35px;
  color: $pink;
}

.month {
  font-weight: bold;
}

.calendar_full {
  border-radius: 10px;
  font-family: "Ubuntu Nerd Font";
  font-weight: bold;
  margin: 10px 0;
  padding: 12px;
  color: $fg;
}

.calendar_full:last-child {
  border: 1px solid rgba($pink, 0.3);
}

.calendar_title {
  margin-top: 4px;
  font-size: 16px;
  color: $fg;
  letter-spacing: 0.5px;
}

.calendar_panel {
  font-size: 14px;
  margin-top: 10px;
  border: 1px solid $bg_panel;
  border-radius: 10px;
  padding: 8px;
}

calendar:dir(ltr) {
  all: unset;
  padding: 4px;
  border-radius: 10px;
  color: $fg;
}

calendar:selected {
  color: $pink;
  border-radius: 8px;
}

calendar:indeterminate {
  color: rgba($muted2, 0.6);
}

calendar.highlight {
  color: $yellow;
}
