<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="https://openbox.org/"
 xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://openbox.org/">
  <menu id="root-menu" label="Applications">
    <item label="File Manager" icon="/home/lucas/.cache/obmenu-generator/icons/5182e03fdeb30899c67408d076ccbc38.png"><action name="Execute"><command><![CDATA[xdg-open .]]></command></action></item>
    <item label="Terminal" icon="/home/lucas/.cache/obmenu-generator/icons/e40da872b4fd77c54066eaec7bff19fc.png"><action name="Execute"><command><![CDATA[xterm]]></command></action></item>
    <item label="Web Browser" icon="/home/lucas/.cache/obmenu-generator/icons/17032825718b9e3c00d53e202fce8408.png"><action name="Execute"><command><![CDATA[xdg-open http://]]></command></action></item>
    <item label="Run command" icon="/home/lucas/.cache/obmenu-generator/icons/b61c0a284e78fe4c79d031acee874cd6.png"><action name="Execute"><command><![CDATA[gmrun]]></command></action></item>
  <separator label="Categories"/>
  <menu id="0.991344733935879" icon="/home/lucas/.cache/obmenu-generator/icons/713a6475735957a27b3b3280ba988cab.png" label="Accessories">
    <item label="Bitwarden" icon="/home/lucas/.cache/obmenu-generator/icons/de5c21dab1ed6740c753f83a211207ba.png"><action name="Execute"><command><![CDATA[bitwarden-desktop]]></command></action></item>
    <item label="Calculator" icon="/home/lucas/.cache/obmenu-generator/icons/8bf17d4507217279b431440e9a80709d.png"><action name="Execute"><command><![CDATA[gnome-calculator]]></command></action></item>
    <item label="Engrampa Archive Manager" icon="/home/lucas/.cache/obmenu-generator/icons/31623c3234a3aae843fba3f53bd31fbf.png"><action name="Execute"><command><![CDATA[engrampa]]></command></action></item>
    <item label="Galculator" icon="/home/lucas/.cache/obmenu-generator/icons/8bf17d4507217279b431440e9a80709d.png"><action name="Execute"><command><![CDATA[galculator]]></command></action></item>
    <item label="Gammastep Indicator" icon="/home/lucas/.cache/obmenu-generator/icons/86d50fd362091b840e4d09f547da5465.png"><action name="Execute"><command><![CDATA[gammastep-indicator]]></command></action></item>
    <item label="gedit" icon="/home/lucas/.cache/obmenu-generator/icons/88b2651e6a389f97f8f8d0b00cdee317.png"><action name="Execute"><command><![CDATA[gedit]]></command></action></item>
    <item label="Help" icon="/home/lucas/.cache/obmenu-generator/icons/88509264f923e5838b706fdd518540f3.png"><action name="Execute"><command><![CDATA[yelp]]></command></action></item>
    <item label="Manjaro Application Utility" icon="/home/lucas/.cache/obmenu-generator/icons/b7b9d84a447567738dcf74c59ff3f23d.png"><action name="Execute"><command><![CDATA[/usr/bin/manjaro-application-utility]]></command></action></item>
    <item label="Menu Editor" icon="/home/lucas/.cache/obmenu-generator/icons/e3761d1228430cf498137f1d7099c0ec.png"><action name="Execute"><command><![CDATA[/usr/bin/menulibre]]></command></action></item>
    <item label="Mousepad" icon="/home/lucas/.cache/obmenu-generator/icons/9a95f82fe34f162ed1d68907a14b26da.png"><action name="Execute"><command><![CDATA[mousepad]]></command></action></item>
    <item label="Nemo" icon="/home/lucas/.cache/obmenu-generator/icons/5182e03fdeb30899c67408d076ccbc38.png"><action name="Execute"><command><![CDATA[nemo]]></command></action></item>
    <item label="Neovim" icon="/home/lucas/.cache/obmenu-generator/icons/b5c9bf94a4ddfcee8cae84d54776f35c.png"><action name="Execute"><command><![CDATA[xterm -e 'nvim']]></command></action></item>
    <item label="Nextcloud Desktop" icon="/home/lucas/.cache/obmenu-generator/icons/018840b2d58fd419c460f794b052b86a.png"><action name="Execute"><command><![CDATA[nextcloud]]></command></action></item>
    <item label="nitrogen" icon="/home/lucas/.cache/obmenu-generator/icons/dc07ea0146d8fe8408ee1b3a35dded2d.png"><action name="Execute"><command><![CDATA[nitrogen]]></command></action></item>
    <item label="Picom" icon="/home/lucas/.cache/obmenu-generator/icons/79706a0a3833a8b5a372c19635a63d02.png"><action name="Execute"><command><![CDATA[picom]]></command></action></item>
    <item label="Plank" icon="/home/lucas/.cache/obmenu-generator/icons/03bf7571531cfaca24cba3b0f0f0232c.png"><action name="Execute"><command><![CDATA[plank]]></command></action></item>
    <item label="Redshift" icon="/home/lucas/.cache/obmenu-generator/icons/3870053e18c4aee575e0fab298035a85.png"><action name="Execute"><command><![CDATA[redshift-gtk]]></command></action></item>
    <item label="Software Token (small)" icon="/home/lucas/.cache/obmenu-generator/icons/e9851426713acbc595832d6334314cb7.png"><action name="Execute"><command><![CDATA[stoken-gui --small]]></command></action></item>
    <item label="Software Token" icon="/home/lucas/.cache/obmenu-generator/icons/e9851426713acbc595832d6334314cb7.png"><action name="Execute"><command><![CDATA[stoken-gui]]></command></action></item>
    <item label="Variety" icon="/home/lucas/.cache/obmenu-generator/icons/e767aadd843c7152f71a8da40a66b62b.png"><action name="Execute"><command><![CDATA[variety]]></command></action></item>
  </menu>
  <menu id="0.817117300906347" icon="/home/lucas/.cache/obmenu-generator/icons/594d32a511af610d9f8db5dc5032b3c8.png" label="Development">
    <item label="Electron 34" icon="/home/lucas/.cache/obmenu-generator/icons/321332a3098745618b46377bd6c4e8c7.png"><action name="Execute"><command><![CDATA[electron34]]></command></action></item>
  </menu>
  <menu id="0.271906527728913" icon="/home/lucas/.cache/obmenu-generator/icons/3654665a7d3baffaf213e22863f83bc4.png" label="Education">
    <item label="LibreOffice Math" icon="/home/lucas/.cache/obmenu-generator/icons/fa54a1d1820a24efb934af6ed8d591ac.png"><action name="Execute"><command><![CDATA[libreoffice --math]]></command></action></item>
  </menu>
  <menu id="0.0896261812621972" icon="/home/lucas/.cache/obmenu-generator/icons/c28b532dae63c4752b7aed6374290c91.png" label="Graphics">
    <item label="Color Picker" icon="/home/lucas/.cache/obmenu-generator/icons/d3494648282d3e0981809b68038bb40a.png"><action name="Execute"><command><![CDATA[gcolor3]]></command></action></item>
    <item label="Document Viewer" icon="/home/lucas/.cache/obmenu-generator/icons/d2fb68d4e42c8bc3119381164f9ebac8.png"><action name="Execute"><command><![CDATA[evince]]></command></action></item>
    <item label="Flameshot" icon="/home/lucas/.cache/obmenu-generator/icons/fac444e8019475a4a96b498507533966.png"><action name="Execute"><command><![CDATA[/usr/bin/flameshot]]></command></action></item>
    <item label="GNU Image Manipulation Program" icon="/home/lucas/.cache/obmenu-generator/icons/41ff1ae423465a32d9c962945639e9e8.png"><action name="Execute"><command><![CDATA[gimp-3.0]]></command></action></item>
    <item label="LibreOffice Draw" icon="/home/lucas/.cache/obmenu-generator/icons/1d6d60d789227ede1880c446d35aa50c.png"><action name="Execute"><command><![CDATA[libreoffice --draw]]></command></action></item>
    <item label="Shotwell" icon="/home/lucas/.cache/obmenu-generator/icons/b7e6c621c51e47de70233e11c4ff4f8d.png"><action name="Execute"><command><![CDATA[shotwell]]></command></action></item>
    <item label="Upscayl" icon="/home/lucas/.cache/obmenu-generator/icons/93f9efc9103e0e30db20c4b0143a10b2.png"><action name="Execute"><command><![CDATA[upscayl]]></command></action></item>
    <item label="Viewnior" icon="/home/lucas/.cache/obmenu-generator/icons/d7763e51cdb3fa489a6a13cd0890c716.png"><action name="Execute"><command><![CDATA[viewnior]]></command></action></item>
  </menu>
  <menu id="0.973929073789879" icon="/home/lucas/.cache/obmenu-generator/icons/5819df3dafd1efdf5a2fe21529d8a4ed.png" label="Multimedia">
    <item label="Audacious" icon="/home/lucas/.cache/obmenu-generator/icons/fee6b730d8a72a3500515adea963db51.png"><action name="Execute"><command><![CDATA[audacious]]></command></action></item>
    <item label="Qt V4L2 test Utility" icon="/home/lucas/.cache/obmenu-generator/icons/a9fc45b694e43144ce55248060dabcac.png"><action name="Execute"><command><![CDATA[qv4l2]]></command></action></item>
    <item label="Qt V4L2 video capture utility" icon="/home/lucas/.cache/obmenu-generator/icons/a9fc45b694e43144ce55248060dabcac.png"><action name="Execute"><command><![CDATA[qvidcap]]></command></action></item>
    <item label="Spotify" icon="/home/lucas/.cache/obmenu-generator/icons/392303e3adc795d7105280705d0e90e0.png"><action name="Execute"><command><![CDATA[spotify --uri=%u]]></command></action></item>
    <item label="VLC media player" icon="/home/lucas/.cache/obmenu-generator/icons/f47d917755dc743356e83a8025697606.png"><action name="Execute"><command><![CDATA[/usr/bin/vlc --started-from-file]]></command></action></item>
    <item label="Volume Control" icon="/home/lucas/.cache/obmenu-generator/icons/711f54775c82c6bfd038b8dac958b4c2.png"><action name="Execute"><command><![CDATA[pavucontrol]]></command></action></item>
    <item label="Volume Icon" icon="/home/lucas/.cache/obmenu-generator/icons/711f54775c82c6bfd038b8dac958b4c2.png"><action name="Execute"><command><![CDATA[volumeicon]]></command></action></item>
  </menu>
  <menu id="0.584605576688759" icon="/home/lucas/.cache/obmenu-generator/icons/0b28ecb019e8aee14397cc9aa9c19d4c.png" label="Network">
    <item label="AnyDesk" icon="/home/lucas/.cache/obmenu-generator/icons/b2f76510a379064ed0894cfec52a55aa.png"><action name="Execute"><command><![CDATA[env GDK_BACKEND=x11 /usr/bin/anydesk]]></command></action></item>
    <item label="Avahi SSH Server Browser" icon="/home/lucas/.cache/obmenu-generator/icons/74c9e19deee604aa146b10a62b07b0d9.png"><action name="Execute"><command><![CDATA[/usr/bin/bssh]]></command></action></item>
    <item label="Avahi VNC Server Browser" icon="/home/lucas/.cache/obmenu-generator/icons/74c9e19deee604aa146b10a62b07b0d9.png"><action name="Execute"><command><![CDATA[/usr/bin/bvnc]]></command></action></item>
    <item label="Brave" icon="/home/lucas/.cache/obmenu-generator/icons/bcafbc34784e3bcc026750baf00196b6.png"><action name="Execute"><command><![CDATA[brave]]></command></action></item>
    <item label="Chromium" icon="/home/lucas/.cache/obmenu-generator/icons/a056d093378858aea2382b008d0d1473.png"><action name="Execute"><command><![CDATA[/usr/bin/chromium]]></command></action></item>
    <item label="Firefox" icon="/home/lucas/.cache/obmenu-generator/icons/40c6613e0ffedbbaeb940c4665dd8a94.png"><action name="Execute"><command><![CDATA[/usr/lib/firefox/firefox]]></command></action></item>
    <item label="gFTP" icon="/home/lucas/.cache/obmenu-generator/icons/7c35788a65fe68439b669ac7029cf130.png"><action name="Execute"><command><![CDATA[gftp]]></command></action></item>
    <item label="Pidgin" icon="/home/lucas/.cache/obmenu-generator/icons/a6b4d6a56ca3db91938c230bd5a4a836.png"><action name="Execute"><command><![CDATA[pidgin]]></command></action></item>
    <item label="Thunderbird" icon="/home/lucas/.cache/obmenu-generator/icons/b9747f9fb7f032affc8ca6b4471cd067.png"><action name="Execute"><command><![CDATA[thunderbird]]></command></action></item>
    <item label="Transmission" icon="/home/lucas/.cache/obmenu-generator/icons/ed1feb99d2b344a6cb2e267867ad3c39.png"><action name="Execute"><command><![CDATA[transmission-gtk]]></command></action></item>
    <item label="Vivaldi" icon="/home/lucas/.cache/obmenu-generator/icons/d46f2e53fa8920eee65c185b61cb8203.png"><action name="Execute"><command><![CDATA[/usr/bin/vivaldi-stable]]></command></action></item>
  </menu>
  <menu id="0.549427850774318" icon="/home/lucas/.cache/obmenu-generator/icons/faf1e463999c5fab593806107b28b264.png" label="Office">
    <item label="Document Viewer" icon="/home/lucas/.cache/obmenu-generator/icons/d2fb68d4e42c8bc3119381164f9ebac8.png"><action name="Execute"><command><![CDATA[evince]]></command></action></item>
    <item label="Joplin" icon="/home/lucas/.cache/obmenu-generator/icons/921efcf72f37926bfb481d2455945776.png"><action name="Execute"><command><![CDATA[env APPIMAGELAUNCHER_DISABLE=TRUE "/home/lucas/.joplin/Joplin.AppImage"]]></command></action></item>
    <item label="LibreOffice Base" icon="/home/lucas/.cache/obmenu-generator/icons/d91f012b38e266ead03eed4cff84fb62.png"><action name="Execute"><command><![CDATA[libreoffice --base]]></command></action></item>
    <item label="LibreOffice Calc" icon="/home/lucas/.cache/obmenu-generator/icons/46fb69cad813fcd71b9ccb460c9850f0.png"><action name="Execute"><command><![CDATA[libreoffice --calc]]></command></action></item>
    <item label="LibreOffice Draw" icon="/home/lucas/.cache/obmenu-generator/icons/1d6d60d789227ede1880c446d35aa50c.png"><action name="Execute"><command><![CDATA[libreoffice --draw]]></command></action></item>
    <item label="LibreOffice Impress" icon="/home/lucas/.cache/obmenu-generator/icons/f805951e74bd37233be0169e8c2692a3.png"><action name="Execute"><command><![CDATA[libreoffice --impress]]></command></action></item>
    <item label="LibreOffice Math" icon="/home/lucas/.cache/obmenu-generator/icons/fa54a1d1820a24efb934af6ed8d591ac.png"><action name="Execute"><command><![CDATA[libreoffice --math]]></command></action></item>
    <item label="LibreOffice Writer" icon="/home/lucas/.cache/obmenu-generator/icons/2fb67ceed776fe66747b2a5d1007acf2.png"><action name="Execute"><command><![CDATA[libreoffice --writer]]></command></action></item>
    <item label="LibreOffice" icon="/home/lucas/.cache/obmenu-generator/icons/0591aa68abbcc4004e4385b9eb918ca3.png"><action name="Execute"><command><![CDATA[libreoffice]]></command></action></item>
  </menu>
  <menu id="0.59824786898124" icon="/home/lucas/.cache/obmenu-generator/icons/4e045f00205a17344f2926061865db74.png" label="Other">
    <item label="Rofi Theme Selector" icon="/home/lucas/.cache/obmenu-generator/icons/28fe34df9b7bab09ab2ece9362b42cba.png"><action name="Execute"><command><![CDATA[rofi-theme-selector]]></command></action></item>
    <item label="Rofi" icon="/home/lucas/.cache/obmenu-generator/icons/28fe34df9b7bab09ab2ece9362b42cba.png"><action name="Execute"><command><![CDATA[rofi -show]]></command></action></item>
    <item label="XScreenSaver" icon="/home/lucas/.cache/obmenu-generator/icons/97842e02342eafe1b588eefa6af64f58.png"><action name="Execute"><command><![CDATA[xscreensaver]]></command></action></item>
  </menu>
  <menu id="0.91196132939368" icon="/home/lucas/.cache/obmenu-generator/icons/713a6475735957a27b3b3280ba988cab.png" label="Settings">
    <item label="About Me" icon="/home/lucas/.cache/obmenu-generator/icons/5c64cd60671570ff528bdadea334cf27.png"><action name="Execute"><command><![CDATA[/usr/bin/mugshot]]></command></action></item>
    <item label="Add/Remove Software" icon="/home/lucas/.cache/obmenu-generator/icons/b7b9d84a447567738dcf74c59ff3f23d.png"><action name="Execute"><command><![CDATA[pamac-manager]]></command></action></item>
    <item label="Advanced Network Configuration" icon="/home/lucas/.cache/obmenu-generator/icons/0b28ecb019e8aee14397cc9aa9c19d4c.png"><action name="Execute"><command><![CDATA[nm-connection-editor]]></command></action></item>
    <item label="ARandR" icon="/home/lucas/.cache/obmenu-generator/icons/f7b1c834e812e8dd8c4982b056dc6b28.png"><action name="Execute"><command><![CDATA[arandr]]></command></action></item>
    <item label="Bluetooth Adapters" icon="/home/lucas/.cache/obmenu-generator/icons/bcce5647aeb13cd3ed51f0185bfccf31.png"><action name="Execute"><command><![CDATA[blueman-adapters]]></command></action></item>
    <item label="Bluetooth Manager" icon="/home/lucas/.cache/obmenu-generator/icons/440f3ac643ef2057b6fa43da1bf00e06.png"><action name="Execute"><command><![CDATA[blueman-manager]]></command></action></item>
    <item label="Customize Look and Feel" icon="/home/lucas/.cache/obmenu-generator/icons/020b408d0e6b63a32099945a25c21418.png"><action name="Execute"><command><![CDATA[lxappearance]]></command></action></item>
    <item label="Firewall Configuration" icon="/home/lucas/.cache/obmenu-generator/icons/c4d50bb93f59685ff458dfc460f296fa.png"><action name="Execute"><command><![CDATA[gufw]]></command></action></item>
    <item label="Menu Editor" icon="/home/lucas/.cache/obmenu-generator/icons/e3761d1228430cf498137f1d7099c0ec.png"><action name="Execute"><command><![CDATA[/usr/bin/menulibre]]></command></action></item>
    <item label="Openbox Configuration Manager" icon="/home/lucas/.cache/obmenu-generator/icons/7e292db8d3e1690266cb12199e17e288.png"><action name="Execute"><command><![CDATA[obconf]]></command></action></item>
    <item label="Qt6 Settings" icon="/home/lucas/.cache/obmenu-generator/icons/020b408d0e6b63a32099945a25c21418.png"><action name="Execute"><command><![CDATA[qt6ct]]></command></action></item>
    <item label="Volume Control" icon="/home/lucas/.cache/obmenu-generator/icons/711f54775c82c6bfd038b8dac958b4c2.png"><action name="Execute"><command><![CDATA[pavucontrol]]></command></action></item>
    <item label="XScreenSaver Settings" icon="/home/lucas/.cache/obmenu-generator/icons/97842e02342eafe1b588eefa6af64f58.png"><action name="Execute"><command><![CDATA[xscreensaver-settings]]></command></action></item>
  </menu>
  <menu id="0.681232376781509" icon="/home/lucas/.cache/obmenu-generator/icons/28e4c960b598d17e5a0bf027b1c92866.png" label="System">
    <item label="Add/Remove Software" icon="/home/lucas/.cache/obmenu-generator/icons/b7b9d84a447567738dcf74c59ff3f23d.png"><action name="Execute"><command><![CDATA[pamac-manager]]></command></action></item>
    <item label="Avahi Zeroconf Browser" icon="/home/lucas/.cache/obmenu-generator/icons/74c9e19deee604aa146b10a62b07b0d9.png"><action name="Execute"><command><![CDATA[/usr/bin/avahi-discover]]></command></action></item>
    <item label="fish" icon="/home/lucas/.cache/obmenu-generator/icons/3fd26cc24cb2b5f3d5a0d4f6872087d8.png"><action name="Execute"><command><![CDATA[xterm -e 'fish']]></command></action></item>
    <item label="Ghostty" icon="/home/lucas/.cache/obmenu-generator/icons/5524a950119ccb815728c6853be47da6.png"><action name="Execute"><command><![CDATA[ghostty]]></command></action></item>
    <item label="GParted" icon="/home/lucas/.cache/obmenu-generator/icons/6b4f277ac7cb10deb2abdcd1053d8471.png"><action name="Execute"><command><![CDATA[/usr/bin/gparted]]></command></action></item>
    <item label="Htop" icon="/home/lucas/.cache/obmenu-generator/icons/49b9107b693aac8f9a3e05eba479d5ae.png"><action name="Execute"><command><![CDATA[xterm -e 'htop']]></command></action></item>
    <item label="kitty" icon="/home/lucas/.cache/obmenu-generator/icons/e40da872b4fd77c54066eaec7bff19fc.png"><action name="Execute"><command><![CDATA[kitty]]></command></action></item>
    <item label="Manage Printing" icon="/home/lucas/.cache/obmenu-generator/icons/5736238be0a2b2769a32821e26d5fd64.png"><action name="Execute"><command><![CDATA[xdg-open http://localhost:631/]]></command></action></item>
    <item label="Manjaro Hello" icon="/home/lucas/.cache/obmenu-generator/icons/8131d5bf9181194abf20b17ab92533be.png"><action name="Execute"><command><![CDATA[/usr/bin/manjaro-hello]]></command></action></item>
    <item label="ranger" icon="/home/lucas/.cache/obmenu-generator/icons/e40da872b4fd77c54066eaec7bff19fc.png"><action name="Execute"><command><![CDATA[xterm -e 'ranger']]></command></action></item>
    <item label="Revelation" icon="/home/lucas/.cache/obmenu-generator/icons/b00897a33837428f806ad5c30f9a9d89.png"><action name="Execute"><command><![CDATA[revelation]]></command></action></item>
    <item label="Timeshift" icon="/home/lucas/.cache/obmenu-generator/icons/f048444aeb58adb2048a7ed30bfc5bb8.png"><action name="Execute"><command><![CDATA[timeshift-launcher]]></command></action></item>
    <item label="UXTerm" icon="/home/lucas/.cache/obmenu-generator/icons/e40da872b4fd77c54066eaec7bff19fc.png"><action name="Execute"><command><![CDATA[uxterm]]></command></action></item>
    <item label="XTerm" icon="/home/lucas/.cache/obmenu-generator/icons/e40da872b4fd77c54066eaec7bff19fc.png"><action name="Execute"><command><![CDATA[xterm]]></command></action></item>
  </menu>
  <separator/>
  <menu id="0.695284062779859" icon="/home/lucas/.cache/obmenu-generator/icons/28e4c960b598d17e5a0bf027b1c92866.png" label="Advanced Settings">
    <item label="Conky RC" icon="/home/lucas/.cache/obmenu-generator/icons/8d24a60e79abfa233633e4be2464a938.png"><action name="Execute"><command><![CDATA[geany ~/.conkyrc]]></command></action></item>
    <item label="Tint2 Panel" icon="/home/lucas/.cache/obmenu-generator/icons/8d24a60e79abfa233633e4be2464a938.png"><action name="Execute"><command><![CDATA[geany ~/.config/tint2/tint2rc]]></command></action></item>
  <menu id="0.0155319876407489" icon="/home/lucas/.cache/obmenu-generator/icons/88b2651e6a389f97f8f8d0b00cdee317.png" label="Obmenu-Generator">
    <item label="Menu Schema" icon="/home/lucas/.cache/obmenu-generator/icons/8d24a60e79abfa233633e4be2464a938.png"><action name="Execute"><command><![CDATA[geany ~/.config/obmenu-generator/schema.pl]]></command></action></item>
    <item label="Menu Config" icon="/home/lucas/.cache/obmenu-generator/icons/8d24a60e79abfa233633e4be2464a938.png"><action name="Execute"><command><![CDATA[geany ~/.config/obmenu-generator/config.pl]]></command></action></item>
  <separator/>
    <item label="Generate a static menu" icon="/home/lucas/.cache/obmenu-generator/icons/88b2651e6a389f97f8f8d0b00cdee317.png"><action name="Execute"><command><![CDATA[obmenu-generator -s -c]]></command></action></item>
    <item label="Generate a static menu with icons" icon="/home/lucas/.cache/obmenu-generator/icons/88b2651e6a389f97f8f8d0b00cdee317.png"><action name="Execute"><command><![CDATA[obmenu-generator -s -i -c]]></command></action></item>
  <separator/>
    <item label="Generate a dynamic menu" icon="/home/lucas/.cache/obmenu-generator/icons/88b2651e6a389f97f8f8d0b00cdee317.png"><action name="Execute"><command><![CDATA[obmenu-generator -p]]></command></action></item>
    <item label="Generate a dynamic menu with icons" icon="/home/lucas/.cache/obmenu-generator/icons/88b2651e6a389f97f8f8d0b00cdee317.png"><action name="Execute"><command><![CDATA[obmenu-generator -p -i]]></command></action></item>
  <separator/>
    <item label="Refresh cache" icon="/home/lucas/.cache/obmenu-generator/icons/2ac30872ab448532c5e9efe05457f1f8.png"><action name="Execute"><command><![CDATA[obmenu-generator -d]]></command></action></item>
  </menu>
  <menu id="0.00151561343317397" icon="/home/lucas/.cache/obmenu-generator/icons/cbd33e85d4e0834359519a4e282b2aeb.png" label="Openbox">
    <item label="Openbox Autostart" icon="/home/lucas/.cache/obmenu-generator/icons/8d24a60e79abfa233633e4be2464a938.png"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/autostart]]></command></action></item>
    <item label="Openbox RC" icon="/home/lucas/.cache/obmenu-generator/icons/8d24a60e79abfa233633e4be2464a938.png"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/rc.xml]]></command></action></item>
    <item label="Openbox Menu" icon="/home/lucas/.cache/obmenu-generator/icons/8d24a60e79abfa233633e4be2464a938.png"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/menu.xml]]></command></action></item>
    <item label="Reconfigure Openbox" icon="/home/lucas/.cache/obmenu-generator/icons/cbd33e85d4e0834359519a4e282b2aeb.png"><action name="Execute"><command><![CDATA[openbox --reconfigure]]></command></action></item>
  </menu>
  </menu>
  <separator/>
    <item label="Lock" icon="/home/lucas/.cache/obmenu-generator/icons/f6bf42b9ea1395ebd7ac1d11164200d4.png"><action name="Execute"><command><![CDATA[xscreensaver-command -lock]]></command></action></item>
    <item label="Exit" icon="/home/lucas/.cache/obmenu-generator/icons/a0efb6badce8b1525c3e815580208339.png"><action name="Exit"/></item>
  </menu>
</openbox_menu>
